In [ ]:
!pip install mysql-connector-python

In [50]:
import mysql.connector as connector

In [58]:
from mysql.connector import errorcode

In [67]:
connection = connector.connect(user="admin1", password = "6666", host="127.0.0.1",database = "littlelemondb")

In [68]:
cursor = connection.cursor()

In [70]:
cursor.execute("""SHOW tables""")

In [75]:
print(connection.is_connected())

True

In [73]:
results = cursor.fetchall()

In [74]:
print(results)

[('bookings',), ('customers',), ('deliverystatus',), ('menu',), ('menuitems',), ('orders',), ('orderview',), ('staff',)]

In [76]:
query_customer_filter="""
SELECT customers.CustomerName AS Name, customers.ContactDetail AS ContactInfo, orders.TotalCost AS BillAmount
FROM orders
INNER JOIN customers
ON customers.CustomerID = orders.CustomerID
WHERE orders.TotalCost > 60;
"""

In [77]:
cursor.execute(query_customer_filter)

In [78]:
results = cursor.fetchall()

In [82]:
colunmns = cursor.column_names

In [80]:
print("The customers who spent more than 60$: ")

The customers who spent more than 60$:

In [85]:
print(colunmns)

('Name', 'ContactInfo', 'BillAmount')

In [86]:
for result in results:
    print(result)

('Jadon Sancho', '111', Decimal('950'))
('De Gea', '222', Decimal('450'))
('Bruno Fernandes', '333', Decimal('150'))
('Marcus Rashford', '444', Decimal('750'))
('Carlos Casimiro', '555', Decimal('150'))
('Luke Shaw', '666', Decimal('650'))
('Lisandro Mart√≠nez', '777', Decimal('100'))
('Raphael Varane', '888', Decimal('350'))